/*@import url('https://fonts.googleapis.com/css?family=Bungee');*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Work+Sans');

/*@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Rubik');*/
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');
@import url('https://fonts.googleapis.com/css?family=Teko:600');
* {
	margin: 0;
	
	position: relative;
}

p {
	margin-bottom: 1vw;
}
a {
	text-decoration:none;
	color:inherit;

}

body{
    left: 0;
    top: 0;
    padding: 0px;
    height: 100%;

    background-color: #EBEBE8;

    font-family:'Work Sans', sans-serif;

	
}

#bildetekst {
	font-size: 12px;
	padding: 10px;
	
}


.center {
	text-align: center;
}
.italic {
	font-style: italic;
}
.indent {
	/*text-indent: 3vw;*/
	left: 2%;
	border-left: 5px solid white;
	margin: 1.5em 10px;
  	padding: 0.5em 10px;
}



#right {

    font-weight: bold;
    background-color: white;
    font-size: 0.7vw;
    text-align: right;
    padding-right: 10%;
}

/***********************************************************************/

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    
}


ul.tab li {float: left;}


ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    background-color: white;
}

ul.tab li a:hover {background-color: #ddd;}


ul.tab li a:focus, .active {
    background-color: #ccc; 
    opacity: 0.4;
    -moz-opacity: 0.4;
    cursor: default;
}

.tabcontent {
    display: none;
    /*padding: 6px 12px;*/
    
    border-top: none;
}
/***********************************************************************/


.size2 ul  {
  display: inline-block;
  background-color: white;
  border: 1px solid #404040;
      border-radius: 5px;
} 
 
#stor_a {
 text-decoration: none;
 font-weight: bold;
}

#liten {
 text-decoration: none;
 border-radius: 3px;
 border: 1px solid #404040;
 margin: 0;
 font-size: 15px;
 padding: 11px 8px;
 
 position: fixed;
 z-index: 1;
 right: 85px;
 top: 40px;
 
 background-color: rgba(255,255,255,0.93);
 -webkit-transition-duration: 0.3s;
     transition-duration: 0.3s
}

#stor {
 text-decoration: none;
 border-radius: 3px;
 border: 1px solid #404040;
 font-size: 25px;
 padding: 5px;
 
 position: fixed;
 z-index: 1;
 right: 50px;
 top: 40px;
 
 background-color: rgba(255,255,255,0.93);
 -webkit-transition-duration: 0.3s;
     transition-duration: 0.3s
}

#liten_a {
 text-decoration: none;
 font-weight: bold;
}

#stor:hover ,#stor:focus  {
     background-color: #404040;
     color: white;
 border-radius: 3px;
 border: 1px solid white;
}
 
#liten:hover, #liten:focus {
     background-color: #404040;
     color: white;
 border-radius: 3px;
 border: 1px solid white;
}

/***********************************************************************/
.normal {
	height:5px;
    position: relative;
	width:5%;
    text-indent: -20px;
    line-height: 10%;
	left: 42%;  
	opacity: 0.9;
	
}
.kontrast{
	height:5px;
    position: relative;
	width:8%;
    text-indent: -25px;
    line-height: 10%;
	left: 42%; 
	opacity: 0.9;
}




/***************************form********************************************/

form {
  margin: 0 auto;
  width: 90%;
  padding: 2em;
  border: 1px solid #CCC;
  border-radius: 1em;
    
}


input{
    text-indent: 20px;
}

.button {
  text-align:center;
  font: 24px "Trebuchet MS", sans-serif;

}

button:hover, button:focus {
	background: white;
}

button {
	padding: 20px 40px;
	display: inline-block;
	text-decoration: none;
	border-radius: 3px;
	border: 0;
	margin: 0;
	font-size: 0.8em;

}



.normal {
	height:1%;
    position: relative;
	width:8%;
    text-indent: -100%;
    line-height: 10%;
	left: 40%;
	display: none;
	  
	
	
}

.example {
  font-size: 13px;
  color: #a7050d;
}




.kontrast{

 height:1%;
    position: relative;
    text-indent: 0vw;
    line-height: 1vw;
 left: 40%; 
 
    text-decoration: none;
    border-radius: 0.5vw;
    border: 0.1vw solid #404040;
    margin: 0;
    font-size:1vw;
    padding: 1vw;
 
    background-color: rgba(255,255,255,0.93);
    -webkit-transition-duration: 0.3s;
        transition-duration: 0.3
  
}

.kontrast:hover ,  .kontrast:focus{
    background-color: #404040;
    color: white;
	/*border-radius: 3px;*/
	border: 0.1vw solid white;
}





input[type=text], select {
	
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 1px;
    box-sizing: border-box;
	padding-left:30px;	
	margin-right:20px;
		
}

input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 1px;
    box-sizing: border-box;
	background-size: 5%;
	background-position:90%;
	padding-left:30px;
	background-color: white;
	
	
}

input[type=email], textarea {
 
    outline: none;
    padding: 5px 0px 3px 3px;
    margin: 1px 2px 4px 0px;
    border: 3px solid #DDDDDD;
	right: 4px;

}
 
input[type=email]:focus, textarea:focus {
    box-shadow: 0 0 5px #404040;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 3px solid #404040;
}



input[type=text], textarea {
 
  outline: none;
  padding: 5px 0px 3px 3px;
  margin: 6px 2px 4px 0px;
  border: 3px solid #DDDDDD;
}
 
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px #404040;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 3px solid #404040;
}


input,
input::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 3;
	font-color: #ffffff;
}



textarea::-webkit-input-placeholder {
    font-size: 25px;
    line-height: 3;
	
}
textarea {
	
	background-color: white;
    font-size: 120%;
    text-indent: 20px;
	
		
}


input:invalid{
  border-color: #900;
  background-color: #FDD;
}


#msg{
	height: 100px;
	width: 100%;
} 


/***********************************************************************/
/* fixed bar*/
header.topbar{
    color: black;
    position: fixed;
	background-color: rgba(255,255,255,0.93);
	border-radius: 15px;
    z-index: 2;
    top: 40%;
    left: 2%;
	padding:  1.8vw 2vw 0.8vw 1.5vw;   
}

header.topbar  a:hover, header.topbar  a:focus {
 color: black;
 text-shadow: 0.5px 0.5px 0.5px black, 
   3px 3px 3px rgba(255,255,255,0.90);
}







/**********************************************************************************/

header.test {
	position: relative;
	height: 100%;

	width:100%;
	padding: 25px 0 0 0 ;
	
	text-align:center;
	
	/*background-color:#312c32;*/
	background-color: #404040;
	
	font-family:inherit;

}



.head {
	
}
.logo {
	font-size:5vw;
	color:white;
	line-height:1;
	letter-spacing:0vw;
	font-family:'Teko', sans-serif;
	text-transform:uppercase;
}


.subtitle {
	font-family:'Open Sans', sans-serif;
	font-size:0.95vw;
	text-transform: uppercase;
	letter-spacing:0.22vw;
	color:#ffa83e;
	margin-top:-1vw;
	padding-bottom: 1vw;
}

/*.logo {
	font-size:5vw;
	color:white;
	line-height:1;
	letter-spacing:0vw;
	font-family:'Teko', sans-serif;
	text-transform:uppercase;
	margin-bottom: 0;
}*/

#colorLogo {
	/*color:#6c648b;*/
	color: #ffd24e; 
	font-weight: 
	bold; 
	font-style: 8vw;
}
#colorLogo1 {
	/*color:#6c648b;*/
	color: #ffd24e; 
	font-weight: 
	bold; 
	font-style: 8vw;
}

/*.subtitle {
	font-family:'Open Sans', sans-serif;
	font-size:0.95vw;
	text-transform: uppercase;
	letter-spacing:0.22vw;
	color:#ffa83e;
	 
}*/

.nav ul  {
	background-color: #ffffff;
	overflow:hidden;
	color:#312c32;
	padding:0.5vw;
	text-align:center;
	margin:0;
	
	
	
}

.nav ul li  {
	display: inline-block;
	padding-top: 0.85vw;
	padding-bottom: 0.85vw;
	border: 1px solid white;

}
.nav  a{
	text-transform: uppercase;
	letter-spacing:0.22vw;
	font-size: 1.10vw;
	padding: 1vw;
	
}
.nav ul li a:hover, .nav ul li a:focus  {
	/*background-color: #312c32;*/
	background-color: #404040;
	color:white;
	text-decoration: none; 
}

#activ{
	
	background-color: none;	
 	color:#312c32;
	border: 1px solid black;
	/*font-weight: bold;*/
	
	 
}

#activ:hover, #activ:focus{
	background-color: #404040;
	color:white;
	text-decoration: none; 

}





/*******************************************************************/
/*.section {
	width: 100%;
}*/


.section_bot{
	line-height:1.6em;
	font-size:1vw;
	padding:5vw 25vw;
	margin:0 auto;

	/*background-color: #9099a2;
	color: #404040;*/
	background-color:#EBEBE8;
	color:#353535;
	/*-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;*/
	 
	text-align: left;
	border-top: 15px solid white;
	
}

.section1 {
	
	line-height:1.6em;
	font-size:1vw;
	padding:5vw 25vw;
	margin:0 auto;
	
	/*background-color: #FFEDBC;*/
	
	
	/*border-top: 15px solid white;*/
	 
	text-align: left;
	background-color:#ffd24e;
	color:#353535;
	/*-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;*/
}

.section2 {
	 
	line-height:1.6em;
	font-size:1vw;
	padding:5vw 25vw;
	margin:0 auto;

	/*background-color: #9099a2;
	color: #404040;*/

	background-color:#EBEBE8;
	color:#353535;
	text-align: left;
	
	/*-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;*/
    
    /*border-top: 15px solid white;*/
	
}

h1 {
	font-family:'Work Sans', sans-serif;
	/*letter-spacing:0.1vw;*/
	font-size:1.5vw;
	text-transform:uppercase;
	
	margin-top:0;
	font-weight: bolder;
	margin-bottom: 1vw;

}
h2 {
	font-family:'Work Sans', sans-serif;
	
	font-size:1.5vw;
	
	
	margin-top:0;
	font-weight: bold;
	padding-bottom: 0.4vw;
}
h3 {
	font-family:'Work Sans', sans-serif;
	
	font-size:1.4vw;
	
	
	margin-top:0;
	font-weight: bold;
}


blockquote {
  border-left: 10px solid black;
  /*border-left: 5px solid white;*/
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  /*quotes: "\201C""\201D""\2018""\2019";*/
}

/*blockquote:before {
  color: black;
  
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote:after {
  color: black;
  
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}*/




footer.footer {
	position: relative;
  
  	padding-top: 10px;
  	
	font-size:1vw;
	padding:5vw 25vw;
	margin:0 auto;
  	
  	background-color: #404040;
  	
  	padding-bottom: 10%;

  	display: flex;
  	
}

footer.footer p{
    
	
	font-family: inherit;
	
}






.section_top_img {

	/*display: none;*/

	
}

.section_top_img_2{
	display: none;
}
.img_bul {
    
    width: 100%;
	/*border-radius: 10px;*/
    
}

.line_1 {
	width:100%; 
	height:5px; 
	background-image: url(image/background1.png);
	padding-top:5px; 
	padding-bottom:5px;
}
.line_2 {
	width:100%; 
	height:5px; 
	background-image: url(image/background2.png);
	padding-top:5px; 
	padding-bottom:5px;
}
/****************** Footer ******************/

#fot_imgF{
	width: 30px;
	height: 30px;
	/*padding-right: 10px;*/
	float:left;
	clear:left;
	display:block;
	margin-bottom:1vw;
	margin-right:1vw;
	opacity: 0.7;
    filter: alpha(opacity=50);
}

#fot_imgF:hover, #fot_imgF:focus {
	opacity: 1.0;
    filter: alpha(opacity=50);
}
#fot_imgT{
	width: 30px;
	height: 30px;
	/*padding-right: 10px;*/
	float:left;
	clear:left;
	display:block;
	margin-bottom:1vw;
	margin-right:1vw;
	opacity: 0.7;
    filter: alpha(opacity=50);
}
#fot_imgL{
	width: 30px;
	height: 30px;
	/*padding-right: 10px;*/
	float:left;
	clear:left;
	display:block;
	margin-bottom:1vw;
	margin-right:1vw;
	opacity: 0.7;
    filter: alpha(opacity=50);
}

#fot_imgL:hover, #fot_imgL:focus {
	opacity: 1.0;
    filter: alpha(opacity=50);
}

#fot_imgY{
	width: 30px;
	height: 30px;
	/*padding-right: 10px;*/
	float:left;
	clear:left;
	display:block;
	margin-bottom:1vw;
	margin-right:1vw;
	opacity: 0.7;
    filter: alpha(opacity=50);
}

#fot_imgY:hover {
	opacity: 1.0;
    filter: alpha(opacity=50);
}

#fot_imgT:hover {
	opacity: 1.0;
    filter: alpha(opacity=50);
}
#fot_img_right{
	width: 70%;
	height: 90%;
}

.left_fot{
	float: left;
	text-align: left;
    /* max-width: 10%; */
    margin: 0;
    /*padding: 1em;*/
	background-color:none;
	width:40%;
}
.main_fot{
	margin-left: 0%;
	margin-right: 0%;
   
    /*padding: 1em;
    overflow: hidden;*/
	
	color:white;
	background-color:none;
	width:20%;
}
.right_fot{
	float: right;
	text-align: right;
    /*max-width: 10%;
*/    /*margin: 0;
    padding: 1em;*/
	
	background-color:none;
	width:40%;
	clear: both;
}

.bottom_fot{
	text-align: right;
    /*max-width: 10%;
*/    /*margin: 0;
    padding: 1em;*/
	
	background-color:red;
	width:40%;
}

.footerLink {
	font-family:'Work Sans', sans-serif;
	font-size:1vw;
	color:white;
	float:left;
	padding-top:5px;
	opacity: 0.7;
    filter: alpha(opacity=50);
}

.footerLink:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}


.logoFooter {
	font-size:2vw;
	color:white;
	line-height:1;
	letter-spacing:0vw;
	font-family:'Teko', sans-serif;
	text-transform:uppercase;
}
.gone span{
	color: #404040;
}

/******************************************************/


/********************************************************************************/


@media screen and (max-width: 599px) {
	.nav ul li {
		box-sizing:border-box;
		width:100%;
		
		text-align:left;
	}
	.nav ul li a{
		font-size: 10vw;
		padding: 5px;
		font-size: 4vw;
	}
	.logo {font-size: 8vw;}
	.subtitle{font-size: 4vw;}

	
	
	.section1, .section2, .section_bot {
		padding:5vw 10vw; 
		font-size:4vw;
	}
	footer.footer{
		font-size:3vw;
	}

	header.topbar , .footer_copy_1, .knappOpp, .size, .size1, .right_fot, .kontrast, .normal, .gone {
		display: none;
	}
	.no_fot, .main_fot {
	display: none;
	}
	.left_fot{
		width: 50%;
	}
	#fot_img{
		width: 35px;
		height: 35px;
	}
	
	.logoFooter  {
		font-size:5vw;
		
	}

	h1 {
		font-size:4vw;
		color: black;
		
	}

	h2 {
		font-size:3.7vw;
	}
	
	h3 {
		font-size:3.5vw;
	}
	textarea {
   		max-width: 70vw;
   		max-height: 30vw;
 	}
	form {
  		left: -3vw;
  		max-width: 90vw;
  		max-height: 330vw;
 	}

	.img_cyb{
		width: 100%;
	}
	
	label{
		width: 19%;
		text-align: left;
		font-size: 2.3vw;
	}
	
	
	
	 
}
@media screen and (max-height: 599px){
	.nav ul li{
		padding-top: 1vw;
	padding-bottom: 1vw;

		
	}
	.nav ul li a{
		font-size: 1.9vw;
		padding: 0.5vw;
	}
	

	.section1, .section2, .section_bot,  {
		padding:15vw 20vw; 
		font-size:3.5vw;
	}
	header.topbar, .knappOpp, .size, .size1, .right_fot, .kontrast{
		display: none;
	}
	
	.no_fot, .main_fot {
	display: none;
	}
	.left_fot{
		width: 50%;
	}
	footer.footer{
		font-size:2vw;
	}
	h1 {
		font-size:3vw;

		
	}
	h2 {
		font-size:2.7vw;
		padding-bottom: 1vw;
	}
	
	h3 {
		font-size:2.5vw;
	}
	.section1 p, .section2 p{
		font-size: 2vw;
		line-height: 1;
	}
	.section1 li, .section2 li{
		font-size: 2vw;
		line-height: 1;
	}
	.img_cyb{
		width: 100%;
	}
	label{
		width: 15%;
		text-align: left;
		font-size: 2.2vw;
	}
	
	
}


	


/*@media screen and (max-height: 1400px) { /* 1366x768
	label{
		width: 15%;
		text-align: left;
	}
	.no_fot, .main_fot, .right_fot {
	display: none;
	}
	 .left_fot{
		width: 75%;
	}
	
	 
	#bildetekst{
		font-style: 100vw;
	}

	 
}*/

 
/*@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape){
.nav ul li{
		padding-top: 1vw;
		padding-bottom: 1vw;

		
	}
	.nav ul li a{
		font-size: 1.9vw;
		padding: 0.5vw;
	}
	

	.section1, .section2, .section_bot,  {
		padding:15vw 20vw; 
		font-size:3.5vw;
	}

	header.topbar, .knappOpp, .size, .size1, .right_fot, .kontrast{
		display: none;
	}
	
	.no_fot, .main_fot {
	display: none;
	}

	.left_fot{
		width: 50%;
	}
	footer.footer{
		font-size:2vw;
	}
	h1 {
		font-size:3vw;

		
	}
	h2 {
		font-size:2.7vw;
		padding-bottom: 1vw;
	}
	
	h3 {
		font-size:2.5vw;
	}
	.section1 p, .section2 p{
		font-size: 2vw;
		line-height: 1;
	}
	.section1 li, .section2 li{
		font-size: 2vw;
		line-height: 1;
	}
	.img_cyb{
		width: 100%;
	}
	label{
		width: 15%;
		text-align: left;
		font-size: 2.2vw;
	}
}*/

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait){
	
	.logo {font-size: 8vw;}

	.nav ul li{
		padding-top: 1vw;
		padding-bottom: 1vw;

		
	}
	.nav ul li a{
		font-size: 2.5vw;
		padding: 0.5vw;
	}
	

	.section1, .section2, .section_bot,  {
		padding: 100vw 2vw; 
		font-size:3.5vw;
		text-align: justify;
	}
	header.topbar, .knappOpp, .size, .size1, .right_fot, .kontrast{
		display: none;
	}
	
	.no_fot, .main_fot {
	display: none;
	}
	.left_fot{
		width: 50%;
	}
	footer.footer{
		font-size:2vw;
	}
	h1 {
		font-size:3.2vw;
		padding-bottom: 1vw;

		
	}
	h2 {
		font-size:2.8vw;
		padding-bottom: 1vw;
	}
	
	h3 {
		font-size:2.5vw;
	}
	.section1 p, .section2 p{
		font-size: 2.5vw;
		line-height: 1;
		text-align: justify;
	}
	.section1 li, .section2 li{
		font-size: 2.5vw;
		line-height: 1;
	}
	.img_cyb{
		width: 100%;
	}
	label{
		width: 15%;
		text-align: left;
		font-size: 2.2vw;
	}
}

/*@media print {
	header.topbar, .test ul, .language  {
		display: none;
	}
}*/

